@CHARSET "ISO-8859-1";

p {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	
}

.firstColumn{
	float: left;
	position: relative;
	width: 145px;
	padding: 10px;
	
}

.secondColumn{
	float: left;
	position: relative;
	width: 966px;
	height: 966px;

}	

.thirdColumn{
	float: left;
	position: relative;
	width: 145px;
	padding: 10px
	
}

#boardImage {
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: -1;
}

.dice{
	width: 25%;
	margin: 0px;
	padding: 0px;
}

#ponn{
	position: absolute;
	width: 60px;
	z-index: 1;
}
