@CHARSET "ISO-8859-1";

p {

}

.firstColumn{
	float: left;
	position: relative;
	width: 15%;
	left: 5%;	
}

.secondColumn{
	float: left;
	position: relative;
	width: 966px;
	height: 966px;
	left: 20%;
}	

.thirdColumn{
	float: left;
	position: relative;
	width: 15%;
	left: 80%;	
}

#boardImage {
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: -1;
}

.dice{
	width: 25%;
	margin: 0px;
	padding: 0px;
}

#ponn{
	position: absolute;
	width: 60px;
	z-index: 1;
}
